.dateDisplay {
    margin-top: -450px; /* Добавляем отступ сверху */
    margin-left: 600px; /* Добавляем отступ сверху */
    font-family: 'Inter', sans-serif; /* Устанавливаем шрифт Inter */
    font-weight: 300; /* Устанавливаем толщину шрифта Light */
    color: #909090; /* Устанавливаем цвет текста #909090 */
  }